.add_to_cart{
    width:100%;
    padding:5px;
    margin-top: 1px;
    background-color: tomato;
    border: none;
    color: white;
    cursor: pointer; 
}

.item_rating{
    color: #495774;   
    
}